

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="./static/css/bootstrap.min.css" rel="stylesheet" >

    <title>Hello, world!</title>
  </head>
  <body>
    <div id="root">
    <h1>All tasks</h1>
     
     <ul>
     <li v-for="task in tasks" v-if="task.completed" v-text="task.description"></li>
     <!--
     or use this
     <li v-for="name in names" >{{name}}</li>
     -->
     </ul>
     
    </div>
    <script src="./static/js/bootstrap.bundle.min.js"></script>
    <script src="./static/js/vue.js"></script>
    <script>
   var apps= new Vue({
      el:'#root',
      data:{
        message:"hello world",
        tasks:[
            {description:"Go o store ",completed:true},
            {description:"finish screencart ",completed:false},
            {description:"make donation ",completed:false},
            {description:"clear inbox ",completed:false},
            {description:"make dinner ",completed:false},
            {description:"clean room ",completed:true},
        
        ],
      },
      computed:{
          reversedMessage(){

          }
      }
    });
   
    </script>
  </body>
</html>
